{% extends 'header.html' %}

{% block content %}
        {% include "sidebar.html" %}


<div class="flex flex-col sm:ml-64 h-screen">

    <!-- Scrollable Content -->
    <main class="flex-1 overflow-y-auto p-6">
            <div class=" text-green-500 p-4 mb-6  w-1/2 text-center">
    {% for message in messages %}
        <p id="messages" class="font-semibold text-lg">{{ message }}</p>
    {% endfor %}
</div>
<h2>{{ location.name }}</h2>
<p>{{ location.address }}</p>
<a href="{% url 'event_location_list' %}">Back to Locations</a>
</main>
</div>
{% include "footer.html" %}
{% endblock %}
