{% extends 'header.html' %}

{% block content %}
{% include "Sidebar.html" %}
{% load widget_tweaks %}
{% load static %}
<div class="ml-64 w-[calc(100%-16rem)] min-h-screen bg-gray-100 p-8">
  <h2 class="text-3xl font-semibold mb-6">Job Applications</h2>
  
  <div class="bg-white shadow-md rounded-lg p-6 space-y-4">
    <ul class="space-y-4">
      {% for application in applications %}
        <li class="p-4 bg-gray-50 rounded-lg shadow-sm hover:bg-gray-100 transition duration-300">
          <p class="text-lg font-medium text-gray-800">{{ application.job.title }} 
        </li>
        <div class="mt-6">
    <a href="{% url 'job_application_create' %}" class="inline-block bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-200">Apply for Job</a>
  </div>
      {% endfor %}
 
    </ul>
  </div>
  
 
  {% if request.user.is_superuser %}
  <div class="text-center pb-12">
    <a href="{% url 'jobAppplication' %}" class="inline-block bg-green-600 text-white px-6 py-3 rounded-lg font-medium hover:bg-green-500">
      ➕ job application
    </a>
  </div>
  {% endif %}
</div>
  
{% include "footer.html" %}
{% endblock content %}
