{% extends "header.html" %}

{% block content %}
{% include "Sidebar.html" %}
<div class="ml-64 w-[calc(100%-16rem)]">

{% for message in messages %}
<p id="messages" class="font-semibold text-lg">{{ message }}</p>
{% endfor %}

<div class="container my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="alert alert-info">
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}

{% endblock %}