{% extends "header.html" %}
{% block content %}
        {% include "sidebar.html" %}

<div class="flex flex-col sm:ml-64 h-screen">

    <!-- Scrollable Content -->
    <main class="flex-1 overflow-y-auto p-6">
<h2>Delete Project</h2>
<p>Are you sure you want to delete "{{ project.title }}"?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'projects_list' %}" class="btn btn-secondary">Cancel</a>
</form>
</main>
</div>
{% endblock %}
