{% extends "header.html" %}
{% block content %}
{% include "Sidebar.html" %}

<div>
    {% for message in messages %}
        <p id="messages" class="font-semibold text-lg">{{ message }}</p>
    {% endfor %}
</div>
<div class="ml-64 w-[calc(100%-16rem)] min-h-screen bg-gray-100 p-8">

    <div class="w-full h-full max-w-full bg-green-100 p-8 ">
        <div class="text-center">
            {% if sibling.profile_picture %}
            <a href="{{ sibling.profile_picture.url }}">
                <img src="{{ sibling.profile_picture.url }}" alt="{{ sibling.name }}" class="w-48 h-48 rounded-full mx-auto">
            </a>
            {% endif %}
            <h2 class="text-3xl font-bold text-gray-800 mt-4">{{ sibling.name }}</h2>
            <p class="text-gray-600 mt-2">Born on: {{ sibling.birthdate }}</p>
            <p class="text-gray-600 mt-2">Age: {{ sibling.age }}</p> <!-- Using the dynamic age property -->

            {% if sibling.occupation %}
            <p class="text-gray-600 mt-1"><strong>Occupation:</strong> {{ sibling.occupation }}</p>
            {% endif %}
        </div>
        <div class="mt-6">
            <h3 class="text-xl font-semibold text-gray-800">About {{ sibling.name }}</h3>
            <p class="text-gray-600 mt-2">{{ sibling.full_description }}</p>
        </div>
        <div class="mt-6">
            <h3 class="text-xl font-semibold text-gray-800">My Images</h3>
            <div class="flex  space-x-4 py-4">
                {% for image in images %}
             <div class="flex-none w-50">
    <a href="{{ image.image.url }}" target="_blank">
        <img src="{{ image.image.url }}" alt="Image for {{ sibling.name }}" class="w-full h-48 object-cover rounded-lg shadow-md transition-all duration-300 transform hover:scale-105">
    </a>

                    {% if image.description %}
                        <p class="text-gray-600 mt-2">{{ image.description }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <br>
        </div>
        <div class="mt-6 flex justify-center space-x-4">
            <a href="{% url 'siblings_list' %}" 
               class="text-white bg-blue-600 px-6 py-3 rounded-lg font-medium hover:bg-blue-500 transition duration-300 shadow-md">
               🔙 Back to Family
            </a>
            <a href="{% url 'update_member' sibling.id %}" 
            class="text-white bg-yellow-600 px-6 py-3 rounded-lg font-medium hover:bg-yellow-500 transition duration-300 shadow-md">
            ✏️ Update Member
         </a>
         <a href="{% url 'add_picture' sibling.id %}" class="text-white bg-green-600 px-6 py-3 rounded-lg font-medium hover:bg-blue-500 transition duration-300 shadow-md">
                Add Image
            </a>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}
