{% extends "header.html" %}
{% block content %}
        {% include "sidebar.html" %}


<div class="flex flex-col sm:ml-64 h-screen">

    <!-- Scrollable Content -->
    <main class="flex-1 overflow-y-auto p-6">    
    {% for users in  user%}
        
   
        
    <h1 class="text-3xl font-bold mb-4">User Details</h1>
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <p><strong>Name:</strong> {{ users.name }}</p>
        <p><strong>Email:</strong> {{ users.email }}</p>
        <p><strong>Gender:</strong> {{ users.gender }}</p>
        <p><strong>Profile Picture:</strong></p>
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="{{ user.name }}" class="w-48 h-48 rounded-full">
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
    </div>
    {% endfor %}
</main>
</div>
{% include "footer.html" %}
{% endblock content %}
